#content{
    width: 960px;
    margin: 0 auto;
}

#menu {
    width: 200px;
    float: left;
    height: 100%;
}

#products{
    float: left;
    width: 760px;
}
.product{
    width: 600px;

}
table, th, td{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

}
.tb-cart, .tb-cart th, .tb-cart td{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid black;
}
